# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Node
NODE_ENV=

# JWT
JWT_SECRET=

# PRISMA
DATABASE_URL=""

# ELK
ELASTIC_PASSWORD=
KIBANA_SYSTEM_PASSWORD=

# GRAFANA
GRAFANA_ADMIN_PASSWORD=